            <div class="left450">
                <ul id="myGallery">
                    <li><img src="http://i.imgur.com/sbpWsDP.jpg?1" alt="Nightcore Radio" /></li>
                    <li><img src="http://upload.synload.com/download/e25b5clmlmf20aj4jbck6bkb95ed/forums.png" alt="Synload Forums" /></li>
                    <li><img src="http://synload.com/media/animecapnew.png" alt="AnimeCap v5" /></li>
                    <li><img src="http://synload.com/media/mangasite.png" alt="Manga Reader" /></li>
                    <li><img src="http://synload.com/media/videoconverter.png" alt="Video Converter" /></li>
                    <li><img src="http://i.imgur.com/Lb9jQAW.jpg" alt="AnimeCap Members" /></li>
                    <li><img src="http://i.imgur.com/hb4Dt09.png?1" alt="IOHive" /></li>
                    <li><img src="http://i.imgur.com/0xVIaIE.png?1" alt="MCBans" /></li>
                    <li><img src="http://i.imgur.com/tX9iWWu.png" alt="Winbooru" /></li>
                    <li><img src="http://video.synload.com/groupvideo.png" alt="AnimeCap GroupVideo" /></li>
                </ul>
            </div>
            <script type="text/javascript">
				$("section.header").animate({"height":"530px"},300);
				$('#myGallery').galleryView({
                    transition_speed: 600,
                    autoplay: true,
                    panel_animation: 'slide',
                    show_captions: true,
                    panel_width: 900,
                    panel_height: 450,
                    show_filmstrip: false,
                    pan_images: false,
                    show_infobar: true
                });
			</script>