            <div class="button">
                <a target="_blank" href="http://nightcoreradio.com"><img src="http://i.imgur.com/sbpWsDP.jpg?1">
                <h2>Nightcore Radio</h2></a>
                <p>Internet radio station coded in Ruby using Ruby on Rails + shout gem. Backend streamer is IceCast</p>
            </div>
            <div class="button">
                <a target="_blank" href="http://upload.synload.com"><img src="http://i.imgur.com/hb4Dt09.png?1">
                <h2>IOHive</h2></a>
                <p>Community based file hosting service. Now using the Synload Framework</p>
            </div>
            <div class="button">
                <a target="_blank" href="http://mcbans.com"><img src="http://i.imgur.com/0xVIaIE.png?1">
                <h2>MCBans</h2></a>
                <p>Banning plugin for Minecraft.</p>
            </div>
            <div class="button">
                <a href="http://forums.synload.com/"><img src="http://upload.synload.com/download/e25b5clmlmf20aj4jbck6bkb95ed/forums.png" />
                <h2>Forums</h2></a>
                <p>Built using the Synload Framework as a backend, mysql and the data storage and websockets as the communication method.</p>
            </div>
            <div class="button">
                <a href="http://animecap.com"><img src="http://synload.com/media/animecapnew.png">
                <h2>AnimeCap v5</h2></a>
                <p>Using SynloadFramework for a streaming video platform.</p>
            </div>
            <div class="button">
                <a href="http://manga.animecap.com/"><img src="http://synload.com/media/mangasite.png">
                <h2>Manga Reader</h2></a>
                <p>Read manga and save manga as favorites, resume manga by page and chapter.</p>
            </div>
            <div class="button">
                <a href="http://vcp.synload.com/"><img src="http://synload.com/media/videoconverter.png">
                <h2>Video Converter</h2></a>
                <p>Work in progress, converts videos to preset formats, sends the file to a specified url.</p>
            </div>
            <div class="button">
                <a target="_blank" href="http://members.animecap.com"><img src="http://i.imgur.com/Lb9jQAW.jpg">
                <h2>AnimeCap Members</h2></a>
                <p>This is a closed project restricted to subscribers only. This uses an automated encoder with video resume feature. Video gallery software.</p>
            </div>
            <div class="button">
                <a target="_blank" href="http://winbooru.info"><img src="http://i.imgur.com/tX9iWWu.png">
                <h2>Winbooru</h2></a>
                <p>Image Gallery with tagging, color search<br />[ PHP, MySQL, Memcached, Imagick, GD ]</p>
            </div>
            <div class="button">
                <a href="http://video.synload.com/group"><img src="http://video.synload.com/groupvideo.png">
                <h2>Group Video</h2></a>
                <p>Synchronizing video playback between multiple users in seperate grouped sessions.</p>
                <p>Example: <a target="_blank" href="http://animecap.com">Animecap Main Site</a></p>
            </div>